.App {
    width: 100vw;
    height: 100vh;
}

.divider:after,
.divider:before {
    content: "";
    flex: 1;
    height: 1px;
    background: #eee;
}

.h-custom {
    height: calc(100% - 73px);
}

@media (max-width: 450px) {
    .h-custom {
        height: 100%;
    }
}

.modal-header {
    border-bottom: none;
}

.modal-footer {
    border-top: none;
}